doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Inicio
  body
    input(type='button', value='Calculadora', onclick="location='/calculadora'")
    br
    input(type='button', value='Buscar calculo guardado', onclick="location='/busqueda'")
